*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 988px;
  width: 100%;
}

header {
  width: 988px;
  height: 40px;
  margin: 0 0 10px 0;
  background: #0055dd;
  color: #fff;
}

header h1 {
  padding: 5px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

nav {
  width: 980px;
  text-align: center;
}

nav ul {
  width: 980px;
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 1em;
}

#content {
  width: 920px;
  min-height: 500px;
  padding: 0 30px;
}

footer {
  width: 988px;
  margin: 0 0 10px 0;
  padding: 10px 20px;
  background: #0055dd;
  color: #fff;
}

.actions {
  margin-bottom: 1em;
}

table {
  border-collapse: collapse;
  vertical-align: top;
}

table.list {
  width: 100%;
}

table.list tr th {
  border: 1px solid #0055dd;
  background: #0055dd;
  color: #fff;
  text-align: left;
}

dl {
  clear: both;
  overflow: hidden;
  margin: 0.5em 0;
}

dt {
  float: left;
  font-weight: 700;
  width: 125px;
}

dd {
  float: left;
  margin-left: 1em;
}

#operations {
  clear: both;
  margin: 1em 0 1em 75px;
}

.errors {
  display: inline-block;
  border: 2px solid red;
  color: red;
  padding: 1em;
  margin-bottom: 1em;
}

.errors ul {
  margin-bottom: 0;
  padding-left: 1em;
}